<h1>Menu</h1>

<% url_params = {} %>
<% url_params[:searchcraft] = @using_searchcraft %>
<% url_params[:category_id] = @category.id if @category %>

<p>Currency: <%= @currency %></p>

<ol>
  <li><%= link_to "Normal", root_url(url_params.merge({searchcraft: false})) %></li>
  <li><%= link_to "SearchCraft", root_url(url_params.merge({searchcraft: true})) %></li>
</ol>

<% if @onsale_products %>
  <%= render "products/onsale_products" %>
<% end %>

<h1>Categories</h1>

<% if @categories.any? %>
  <ol>
    <% @categories.each do |category| %>
      <li><%= link_to category, root_url(url_params.merge({category_id: category.id})) %></li>
    <% end %>
  </ol>
<% end %>

<h1><%= @products.first.class.name.pluralize %></h1>

<% if @products.any? %>
  <ol>
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </ol>
<% else %>
  <p>No products found.</p>
<% end %>
